@import url('https:fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
              /* outline: 1px solid red; */
  }


  .page2_first_section{
    background-image: url(../image/png/bg.png);
    font-family: 'Roboto';
  }
/* Card.css */
.page2_card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  .page2_third_section{
    background-image: url(../image/png/2bg.png);
    height: 400px;
    background-size: 100%;
    padding-top: 190px;
    font-family: 'Roboto';
  }
  .page2_second_section_wrapper{
    width: 90%;
    padding: 20px;
    margin-top: 10%;

  }
  .page2_five_section{
    font-family: 'Roboto';
  }
  .page2_four_section_wrapper_title{
    margin-top: 30px;
    font-size: 40px;
    font-weight: 700;
  }
  .page2_four_section_text_wrapper{
    position: absolute;
  }
  .page2_four_section_wrapper{
    width: 80%;
    margin-top: 90px;
    display: flex;
    justify-content: center;
  }
  .page2_four_section{
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
  }
  .page2_second_section{
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
  }
  .page2_third_section_title_text{
    position: absolute;
    margin-top: -10%;
    font-size: 50px;
    font-weight: 600;
    color: #fff;
  }
  .page2_third_section_title{
    display: flex;
    justify-content: center;
  }


  .page2_card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 16%;
    padding: 20px;
    text-align: center;
  }
  
  .page2_card-icon img {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .page2_card-title {
    font-size: 1.1em;
    margin-bottom: 15px;
  }
  
  .page2_card-description {
    font-size: 0.8em;
    margin-bottom: 20px;
  }
  
  .page2_card-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .page2_card-button:hover {
    background-color: #45a049;
  }
  
  /* Адаптивные стили */
  @media (max-width: 1099px) {
    .page2_third_section{
      height: 800px;
      background-size: 190%;
    }
  }

  @media (max-width: 768px) {
    .page2_card {
      width: 80%;
    }
    .page2_third_section{
      height: 1100px;
    }
  }
  
  @media (max-width: 480px) {
    .page2_card {
      width: 100%;
    }
  }
  








  .page2_ip-telephony-block {
    text-align: center;
    padding: 20px;
    color: white;
  }
  
  .page2_title {
    font-size: 2.5em;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  
  .page2_subtitle {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
  
  .page2_features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 110px;
  }
  
  .page2_feature {
    flex: 1 1 200px;
    max-width: 200px;
    margin: 10px;
    text-align: center;
    display: flex;
  }
  
  .page2_feature-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .page2_learn-more {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    font-size: 1.2em;
    color: #4CAF50;
    background-color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 0px;
    margin-left: -8%;
    position: absolute;
    transition: 400ms;
  }
  .page2_feature-icon-text{
    font-size: 22px;
  }
  .page2_learn-more:hover {
    background-color: #e0e0e0;
  }
  
  /* Адаптивные стили */
  @media (max-width: 768px) {
    .page2_title {
      font-size: 2em;
    }
  
    .page2_subtitle {
      font-size: 1.2em;
    }
  
    .page2_features {
      flex-direction: column;
      align-items: center;
    }
  
    .page2_feature {
      max-width: 100%;
      margin-bottom: 20px;
    }
  
    .page2_learn-more {
      font-size: 1em;
      padding: 10px 20px;
    }
  }
  






















  .page2_feature-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .page2_feature-item {
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .page2_feature-item h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 15px 0;
  }
  
  .page2_feature-item p {
    font-size: 18px;
    color: #666;
  }
  

  @media (max-width: 768px) {
    .page2_feature-item {
      flex: 1 1 calc(50% - 40px);
    }
  }
  
  @media (max-width: 480px) {
    .page2_feature-item {
      flex: 1 1 100%;
    }
    .page2_learn-more{
      margin-left: -13%;
    }
  

  }













  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #9e9e9e; /* Зеленый цвет трека */
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
  }
  
  input[type="range"]:hover {
    opacity: 1;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #4caf50;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
  }
  
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #45a049; /* Немного темнее при наведении */
  }
  
  input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #4caf50;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
  }
  
  input[type="range"]::-moz-range-thumb:hover {
    background-color: #45a049;
  }
  
  input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    background-color: #4caf50;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
  }
  
  input[type="range"]::-ms-thumb:hover {
    background-color: #45a049;
  }
  
  /* For Internet Explorer 10 */
  input[type="range"]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  

  .page2_promo-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5; 
    border-radius: 8px;
  }
  
  .page2_promo-content {
    flex: 1;
    padding-right: 20px;
  }
  .page2_gif{
    width: 30px;
    margin-right: 10px;
  }
  .page2_promo-content h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  
  .page2_promo-content ul {
    list-style-type: none;
    padding: 0;
  }
  
  .page2_promo-content li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .page2_store-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .page2_store-buttons img {
    width: 135px; 
    height: auto;
  }
  
  .page2_promo-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .page2_promo-image img {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .page2_promo-block {
      flex-direction: column-reverse;
      text-align: center;
    }
  
    .page2_promo-content {
      padding-right: 0;
    }
  
    .page2_store-buttons {
      justify-content: center;
    }
  }
  









.page2_pricing-configurator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.page2_config-options {
  flex: 2;
}

.page2_option {
  margin-bottom: 20px;
}

.page2_option-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.page2_option-header img {
  margin-right: 10px;
}
.page2_slider-container {
  position: relative;
  margin-top: 10px;
}

.page2_ticks-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 80%;
  top: -25px;
}

.page2_tick {
  position: relative;
  text-align: center;
}

.page2_tick-number {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

.page2_tick-mark {
  width: 1px;
  height: 10px;
  background-color: #000;
  margin: 0 auto;
}

input[type="range"] {
  width: 80%;
  margin-top: 5px;
}

.page2_value-display-box {
  display: flex;
  width: 90px;
  margin-left: 85%;
  margin-right: 10px;
  margin-top: -4%;
  justify-content: flex-end;
}
.page2_inbox{
  display: flex;
}

.page2_value-display {
  padding: 10px 20px;
  border: 1px solid#ccc;
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
}

.page2_additional-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.page2_additional-options label {
  flex: 1 1 45%;
  z-index: 100;
}

/* Updated Summary Section */
.page2_summary {
  flex: 1;
  background-color: #b9becd;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}

/* Updated for summary-item */
.page2_summary-item {
  margin-bottom: 20px;
  width: 100%;
}
.page2_summary-item h3{
  font-weight: 700;
}
.page2_second_section_text_wrapper_title{
  font-size: 40px;
  font-weight: 700;
}
.page2_second_section_text_wrapper{
  position: absolute;
  display: flex;
  margin-top: 5%;
  justify-content: center;
}
.page2_cally{
  width: 30%;
  margin-top: -40px;
  z-index: 1;
}
.page2_summary-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 30px;
}

.page2_summary-item h3 {
  font-size: 42px;
  margin: 0;
}

.page2_summary-item p {
  font-size: 16px;
  margin: 0;
}

/* Discount section placed at the bottom with full width */
.page2_discount {
  width: 100%;
  margin-top: 30px;
}

.page2_discount p {
  margin-bottom: 10px;
}

.page2_discount-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
}

.page2_get-offer-button {
  background-color: #34da3a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.page2_get-offer-button:hover {
  background-color: #45a049;
}

@media (max-width: 1024px) {
  .page2_value-display-box{
    margin-left: 83%;
    margin-top: -5%;
  }


}


@media (max-width: 768px) {
  .page2_pricing-configurator {
    flex-direction: column;
    align-items: center;
  }

  .page2_config-options {
    width: 100%;
    margin-bottom: 20px;
  }

  .page2_summary {
    width: 100%;
  }
  .page2_option-header img{
    margin-bottom: 20px;
  }

  .page2_summary-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .page2_get-offer-button {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .page2_second_section_text_wrapper_title{
    font-size: 25px;
  }
}

@media (max-width: 555px) {
  .page2_third_section_title_text{
    font-size: 30px;
  }
}


@media (max-width: 425px) {
  .page2_second_section_text_wrapper_title{
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .page2_value-display-box{
    margin-top: -13%;
  }
  .page2_learn-more{
    margin-left: -20%;
  }
  .page2_third_section_title_text{
    font-size: 25px;
  }
}

@media (max-width: 320px) {
  .page2_value-display-box{
    margin-left: 73%;
    font-size: 9px;
    margin-top: -10%;
  }
  .page2_pricing-configurator{
    padding: 15px;
  }
  .page2_summary{
    width: 90%;
  }
  .page2_additional-options label{
    font-size: 13px;
  }
}
